* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0B2C6B;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    box-shadow: 0 3px 12px rgba(0,0,0,.25);
    z-index: 1000;
}

.logo h1 {
    font-size: 34px;
}

.logo p {
    font-size: 14px;
}

.logo-ceep {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    opacity: 0.7;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 8px;
    transition: .3s;
}

nav a:hover,
nav a.ativo {
    background: #C62828;
}

/* Banner Principal */
.banner {
    margin-top: 95px;
    height: 500px;
    background: linear-gradient(rgba(11,44,107,.45), rgba(11,44,107,.45)), 
    url("ceep.jpeg");
    opacity: 0.8;
    
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    color: white;
    padding: 30px;
}

.banner h2 {
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
}

.banner p {
    font-size: 22px;
    max-width: 850px;
}

/* Espaçamento e Estilo das Seções */
section {
    padding: 120px 8% 70px 8%;
}

section:not(.banner):nth-child(even){
    background:#f5f7fb;
}
}

section h2 {
    text-align: center;
    color: #0B2C6B;
    font-size: 38px;
    margin-bottom: 50px;
}

section h2::after {
    content: "";
    display: block;
    width: 120px;
    height: 5px;
    background: #C62828;
    margin: 15px auto;
    border-radius: 10px;
}

/* Grid de Cartões */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    border-top: 6px solid #0B2C6B;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 8px 18px rgba(0,0,0,.10);
    transition: .3s;
}

.card:hover {
    transform: translateY(-8px);
    border-top: 6px solid #C62828;
    box-shadow: 0 12px 25px rgba(0,0,0,.18);
}

.card h3 {
    color: #0B2C6B;
    margin-bottom: 15px;
}

.card p {
    text-align: justify;
}

/* Imagens das Notícias */
.imagem-noticia {
    width: 100%;           /* Ocupa toda a largura disponível do card */
    height: auto;          /* Deixa a altura se ajustar proporcionalmente */
    display: block;        /* Remove espaços indesejados abaixo da imagem */
    border-radius: 10px;  /* Mantém as bordas arredondadas */
    margin-top: 15px; ;
}


/* Botões Genericos */
.botao {
    display: inline-block;
    margin-top: 25px;
    background: #C62828;
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 8px;
    transition: .3s;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background: #0B2C6B;
}

/* Botões das Modalidades */
.modalidade {
    background-color: #123875;
    color: white;
}

.modalidade:hover {
    background-color: #0b2855;
}

/* Rodapé */
footer {
    background: #0B2C6B;
    color: white;
    text-align: center;
    padding: 40px;
}

footer h3 {
    font-size: 26px;
    margin-bottom: 15px;
}

footer p {
    margin: 8px 0;
}

.bandeira-bahia {
    width: 80px;
    height: auto;
    display: block;
    margin: 20px auto 0;
    opacity: 0.7;
}

/* Barra de Rolagem Personalizada */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #0B2C6B;
}

::-webkit-scrollbar-thumb:hover {
    background: #C62828;
}

/* Responsividade */
@media (max-width: 900px) {
    header {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .banner {
        margin-top: 180px;
    }

    .banner h2 {
        font-size: 38px;
    }

    .banner p {
        font-size: 18px;
    }

    section {
        padding: 50px 20px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}
